.widgetSmall {
  flex: 1;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin-right: 20px;
}
.widgetSmallTitle {
  font-weight: bold;
  font-size: 22px;
}
.widgetSmallImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}
.widgetSmallList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.widgetSmallListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widgetSmallUser {
  display: flex;
  flex-direction: column;
}
.widgetSmallUsername {
  font-weight: 600;
}
.widgetSmallUserTitle {
  font-weight: 300;
}
.widgetSmallButton {
  border: none;
  display: flex;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}
.widgetSmallIcon {
  font-size: 16px !important ;
  margin-right: 5px ;
}
